
html {
    height: fit-content;
    body {
        height: 100%;
        .container {
            height: 100%;
            * {
                z-index: 2;
              }

            .homequote {
                height: 100%;
                font-size: 1.5rem;
                color: aliceblue;
            }
            
            .cepquote {
                /*
                div {
                    background: rgba(0, 0, 0, 0.5);
                }*/
                height: 50% !important;
                padding-top: 20%;
                margin-top: 0;
                align-content: center;
                color: aliceblue;
                span {
                    font-size: 4rem;
                    color: aliceblue;
                }
            }
        
            #filler {
                height: 400px;
                background: none;
            }

            .card {
                background: none;
                border: 5px solid aliceblue !important;
                border-radius: 30px;
                margin: auto;
            }
        }

        .overlay {
            z-index: 1;
            height: 100%;
            width: 100%;
            position: fixed;
            overflow: auto;
            top: 0px;
            left: 0px;
            background: rgba(0, 0, 0, 0.5); /*can be anything, of course*/
        }

        #app {
            main {
                background-image: url("/images/bg-md-l.png");
            }
        }
    }
}